<div class="jumbotron text-center">
    <h1 class="display-3">Thank You</h1>
    <p class="lead"><strong>Your E-mail has been confirmed</strong></p>
    <hr>
    <p>
        Having trouble? <a href="/Home/Contact">Contact us</a>
    </p>
    <p class="lead">
        <a class="button" href="/" role="button">Continue to Homepage</a>
        <a class="button" href="/Account/Login" role="button">Continue to Login</a>
    </p>
</div>