@{
    ViewData["Title"] = "Forget Password";
}
<link href="~/lib/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
<section class="module login">
    <input type="hidden" id="userId" value="" />
    <div class="container">



        <form asp-action="ForgetPasswordByEmail" asp-controller="Account">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="divider"></div>
                <div class="form-block">
                    <label>@T("publicUI.account.forgetPassword.email.title")</label>
                    <input class="border" onclick="sendEmail()" name="email" placeholder="@T("model.email")" />

                </div>
                <div class="divider"></div>

                <div class="form-block" style="margin-top:20px">
                    <button type="submit" class="button button-icon"><i class="fa fa-angle-right"></i>@T("global.sendCode")</button>
                </div>
            </div>

        </div>
        </form>



    </div>

</section>
