<style>
    .mainDiv {
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 9%;
        margin-bottom: 9%;
    }
</style>

<div class="mainDiv">
    <h1>Thank You <strong>@TempData["userFullName"]</strong>.</h1>
    <p>We have sent a confirmation E-mail to your Address (<strong>@TempData["email"]</strong>).</p>
    <p>Please check your email to activate your account!</p>
</div>