
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" id="NotificationBTN">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge" id="cotificationCount"></span>
    </a>
    <div style="max-height: 800px; overflow: auto;" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header"></span>
        <div class="dropdown-divider"></div>
        <div id="notificationHolder">

        </div>
        <div class="dropdown-divider"></div>
        <a  href="/Admin/Dashboard/GetAllNotifications" class="dropdown-item dropdown-footer">See All Notifications</a>
    </div>
</li>



<script src="~/js/notifications.js"></script>




